<!DOCTYPE html>
<html lang="zh-cn" class="login">
<head>
    <meta charset="UTF-8">
    <title>仇飞鸿的个人博客</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="仇飞鸿的个人博客，分享node.js技术，不忘初心，不断成长">
    <meta name="keywords" content="node.js">
</head>
<body>
<section>
    <form action="/login" method="post">
        <div>
            <input type="text" name="name" placeholder="用户名">
        </div>
        <div>
            <input type="password" name="password" placeholder="密码">
        </div>
        <div>
            <input type="submit" value="登录">
        </div>
    </form>
</section>
</body>
</html>